/*------ GENERAL ------*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    
    height: 100%;
}


/*------ HEADER ------*/

.header {
    height:100vh;   
}

.header-image{
    width: 100%;
    height: 100%;

    background: url(images/headerwater2.jpg) repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    
    box-shadow: inset 0 -60px 60px -60px #000000;
    -moz-box-shadow: inset 0 -60px 60px -60px #000000;
    -webkit-box-shadow: inset 0 -60px 60px -60px #000000
}


.header-content{   
    height: 100%;
    text-align: center;
    
}

.header-icon{
    bottom: 20px;
}

.header-column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
   
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height: 100%;
    width: 450px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header-two-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    height: 100%;    
}

.header-icon{
    padding-bottom: 45px;
}

.header h1{
    padding-bottom: .5em;
    font: 2.5em 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .25em;
    
    text-transform: uppercase;
    color: #ffffff;
}

h1 span{
    display: inline-block;
}

.header h2{
    padding-bottom: 180px;
        
    font: .7em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 2em;
    
    text-transform: uppercase;
    color: #ffffff;
}

h2 span{
    font-weight: 700;
    line-height: 2em;
    color: #ffffff;
}

.h2-divider{
    width: 0;
    height: 15px;
    margin-left: 8px;
    margin-right: 6px;
    border-right: 1px solid #ffffff;     
}

.down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin: 0 auto;
    bottom: 80px;
}

/*------ ABOUT ------*/

.about-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-flow: row nowrap;
    -moz-box-pack: justify;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; 
    
    height: 400px;
}

.about-box{
  
  height: 230px;
  width:675px;
  
  margin-top: auto;
  margin-bottom: auto;
  
  margin-left: 30px;
  margin-right: 30px;
  
  border: 1px solid #3c3c3c; 
}

.about-title{
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    width:45%;
    background-color: #fff;
    
    font: 1.5em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: .25em;
    
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
}

.about-copy{
    padding-top: 56px;
    padding-left: 14%;
    padding-right: 14%;
        
    font: .85em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    
    color: #3c3c3c;  
}


/*------ GALLERY ------*/

.flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}


.flex-item {
    width: 462px;
    height: 180px;
   
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
    
    text-decoration: none;
}

.frontend {
    margin-right: 8px;
    
    background: url(images/frontendgallery.jpg) no-repeat 50% 50%;
}

.frontend:hover {
    margin-right: 8px;
    
    background: url(images/frontendgalleryhov.jpg) no-repeat 50% 50%;
}

.frontend p {
    width: 300px;
    
    margin-top: 105px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.design {
    background: url(images/designgallery.jpg) no-repeat 50% 50%;
}

.design:hover {    
    background: url(images/designgalleryhov.jpg) no-repeat 50% 50%;
}

.design p{
    margin-top: 130px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

.illustration {
    margin-left: 8px;
    
    background: url(images/illustrationgallery.jpg) no-repeat 50% 50%;
}

.illustration:hover{
    margin-left: 8px;
    
    background: url(images/illustrationgalleryhov.jpg) no-repeat 50% 50%;
}

.illustration p{
    margin-top: 130px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}


/*------ CONTACTS ------*/

.contact-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-flow: row nowrap;
    -moz-box-pack: justify;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; 
    
    height: 400px;
}

.contact-box{
  
  height: 230px;
  width:675px;
  
  margin-top: auto;
  margin-bottom: auto;
  
  margin-left: 30px;
  margin-right: 30px;
  
  border: 1px solid #3c3c3c; 
}

.contact-title{
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    width:45%;
    background-color: #fff;
    
    font: 1.5em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: .25em;
    
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
}

.social-column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height: 172px;
    margin: 0 auto;
    
    text-align: center;
}

.information{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    font: .85em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    
    color: #3c3c3c;
}

.social-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    max-width: 1400px;
}

.list-divider{
    width: 0;
    height: 15px;
    margin-left: 6px;
    margin-right: 9px;
    border-right: 1px solid #e3e3e3;       
}

.contact-list{
    display: inline-block;
}

.social-link{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 4px;
}

.social-link:hover{
    background-color: #3c3c3c;
}

.social-divider{
    display: inline-block;
    width: 0;
    height: 15px;
    margin: 0 3px;
    
    vertical-align: 29%;
    
    border-right: 1px solid #e3e3e3;       
}

.email{
    background: url(images/email.png) no-repeat 50% 50%;
    background-color: #666666;
}

.linked{
    background: url(images/linked.png) no-repeat 50% 50%;
    background-color: #666666;
}

.github {
    background: url(images/GitHub-Mark-Light-32px.png) no-repeat 50% 50%;
    background-color: #666666;
}

.twitter{
    background: url(images/Twitter.png) no-repeat 50% 50%;
    background-color: #666666;
}

.tumblr{
    background: url(images/tumblr.png) no-repeat 50% 50%;
    background-color: #666666;
}


/*------ FOOTER ------*/

.footer-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-flow: row nowrap;
    -moz-box-pack: justify;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; 
    
    height: 100px;
}

.footer-box{
    width: 1440px;
    margin-top: auto;
    margin-bottom: auto;
    
    text-align: center;
}

hr{
    margin-top: 0px;
    
    border: 0;
    width: 1440px;
    height: 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 0;
}

.footer-label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    font: .85em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    
    color: #3c3c3c;
}
