/*------ GENERAL ------*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    
    height: 100%;
}


/*------ HEADER ------*/

.header {
    height:100vh;   
}

.header-image{
    width: 100%;
    height: 100%;

    background: url(images/headerwater2.jpg) repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    
    box-shadow: inset 0 -60px 60px -60px #000000;
    -moz-box-shadow: inset 0 -60px 60px -60px #000000;
    -webkit-box-shadow: inset 0 -60px 60px -60px #000000
}


.header-content{   
    height: 100%;
    text-align: center;
    
}

.header-icon{
    bottom: 20px;
}

.header-column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
   
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height: 100%;
    width: 450px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header-two-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    height: 100%;    
}

.header-icon{
    padding-bottom: 45px;
}

.header h1{
    padding-bottom: .5em;
    font: 2.5em 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .25em;
    
    text-transform: uppercase;
    color: #ffffff;
}

h1 span{
    display: inline-block;
}

.header h2{
    padding-bottom: 180px;
        
    font: .7em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 2em;
    
    text-transform: uppercase;
    color: #ffffff;
}

h2 span{
    font-weight: 700;
    line-height: 2em;
    color: #ffffff;
}

.h2-divider{
    width: 0;
    height: 15px;
    margin-left: 8px;
    margin-right: 6px;
    border-right: 1px solid #ffffff;     
}

.down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin: 0 auto;
    bottom: 80px;
}

/*------ ABOUT ------*/

.about {    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
}

.about-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height:400px;
    width: 1440px;

    margin: 0 auto;    

    text-align: center; 
}

.about-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
}

.about-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 230px;
    width: 675px;
    
    margin-left: 30px;
    margin-right: 30px;

    border: 1px solid #3c3c3c;
}

.header-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
    
    background-color: #ffffff;
}

.about h2 {
    margin-top:-25px;
    width: 70%;
    background-color: #ffffff;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    font: 1.5em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: .25em;
    
    text-transform: uppercase;
    color: #3c3c3c;
}

.box-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
}

.about-column {
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
}

.about p {
    margin-top: 50px;
    
    font: .85em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    
    color: #3c3c3c;
}


/*------ GALLERY ------*/

.flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}


.flex-item {
    width: 462px;
    height: 180px;
   
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
    
    text-decoration: none;
}

.frontend {
    margin-right: 8px;
    
    background: url(images/frontendgallery.jpg) no-repeat 50% 50%;
}

.frontend:hover {
    margin-right: 8px;
    
    background: url(images/frontendgalleryhov.jpg) no-repeat 50% 50%;
}

.frontend p {
    width: 300px;
    
    margin-top: 105px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.design {
    background: url(images/designgallery.jpg) no-repeat 50% 50%;
}

.design:hover {    
    background: url(images/designgalleryhov.jpg) no-repeat 50% 50%;
}

.design p{
    margin-top: 130px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

.illustration {
    margin-left: 8px;
    
    background: url(images/illustrationgallery.jpg) no-repeat 50% 50%;
}

.illustration:hover{
    margin-left: 8px;
    
    background: url(images/illustrationgalleryhov.jpg) no-repeat 50% 50%;
}

.illustration p{
    margin-top: 130px;
    padding-left: 30px;
    
    font: .4em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .25em;
    
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}


/*------ CONTACTS ------*/

.contact{    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
}

.contact-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height:400px;
    width: 1440px;

    margin: 0 auto;    

    text-align: center; 
}

.contact-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
}

.contact-box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 230px;
    width: 675px;
    
    margin-left: 30px;
    margin-right: 30px;

    border: 1px solid #3c3c3c;
}

.contact-header-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
    
    background-color: #ffffff;
}

.contact h2{
    margin-top:-25px;
    width: 70%;
    background-color: #ffffff;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    font: 1.5em 'Lato', sans-serif;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: .25em;
    
    text-transform: uppercase;
    color: #3c3c3c;
}

.contact-box-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    text-align: center;
}

.contact-column{
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
}

.social{
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}

.social-column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height: 172px;
    margin: 0 auto;    
}

.social-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    max-width: 1400px;
}

.information{
    display: inline-block;
    margin-bottom: 10px;
    
    font: .85em 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    
    color: #3c3c3c;
}

.list-divider{
    width: 0;
    height: 15px;
    margin-left: 6px;
    margin-right: 9px;
    border-right: 1px solid #e3e3e3;       
}

.contact-list{
    display: inline-block;
}

.social-link{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 4px;
}

.social-link:hover{
    background-color: #3c3c3c;
}

.social-divider{
    display: inline-block;
    width: 0;
    height: 15px;
    margin: 0 3px;
    
    vertical-align: 29%;
    
    border-right: 1px solid #e3e3e3;       
}

.email{
    background: url(images/email.png) no-repeat 50% 50%;
    background-color: #666666;
}

.linked{
    background: url(images/linked.png) no-repeat 50% 50%;
    background-color: #666666;
}

.twitter{
    background: url(images/Twitter.png) no-repeat 50% 50%;
    background-color: #666666;
}

.tumblr{
    background: url(images/tumblr.png) no-repeat 50% 50%;
    background-color: #666666;
}

/*------ FOOTER ------*/

.footer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    padding-bottom: 40px;

}

.footer-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    width: 1440px;

    margin: 0 auto;    

    text-align: center; 
}

hr{
    margin-top: 0px;
    
    border: 0;
    width: 1440px;
    height: 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 0;
}

.footer-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    max-width: 1400px;
    
    text-align: center;
}

.footer-column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin: 0 auto;
}

.footer-label{
    margin-top: 26px;
    
    font: .75em 'Lato', sans-serif;
    font-weight: 300;
    color: #3c3c3c;
    text-align: center;
}


/*------ MEDIA QUERIES ------*/

@media (max-width:768px){.down-arrow{
    bottom: 60px;
   
}}

@media (max-width:768px){.header p{
    padding-bottom: 80px;
}}

@media (max-width:500px){.about p {
    margin-top: 33px;
}}

@media (max-width:933px){.flex-container{
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}}

@media (max-width:933px){.flex-item{
    width: 675px;
}}

@media (max-width:933px){.frontend{
    
    margin-right: 0px;
    margin-bottom: 8px;
}}

@media (max-width:933px){.frontend:hover{
    
    margin-right: 0px;
    margin-bottom: 8px;
}}

@media (max-width:933px){.illustration{
    margin-left: 0px;
    margin-top: 8px;
}}

@media (max-width:933px){.illustration:hover{
    margin-left: 0px;
    margin-top: 8px;
}}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 2)
{ }

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ }

@media screen 
    and (min-device-width : 1080px) 
    and (max-device-width : 1920px) 
    and (min-resolution: 401dpi) 
    and (device-aspect-ratio:16/9) 
{ }

@media screen 
    and (min-device-width : 750px) 
    and (max-device-width : 1334px) 
    and (min-resolution: 326dpi) 
{ }